* {
  box-sizing: border-box;
}

body {
  background-image: url("http://www.sclance.com/backgrounds/white-anime-background/white-anime-background_2385063.png");
  margin: 0 auto;
  padding: 0 auto;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: fixed;
}

/*Head tags*/

h1 {
  font-family: 'Acme', sans-serif;
  font-size: 45px;
  margin: 10px;
}

/*Gif input*/

#gif-input {
  margin: 10px;
  padding: 10px;
  line-height: 15px;
}

label {
  font-weight: bolder;
  position: relative;
}

#add-gif {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.container {
  margin: 20px;
  padding: 20px;
}

#buttons-view {
  margin: 15px;
  font-weight: normal;
}

p {
  font-weight: normal;
  font-size: 25px;
  padding: 10px;
}

/* #gif-dump {
  display: grid;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  
align-items: baseline;
} */